.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  min-height: 100vh;
}

.container h1 {
  color: #19536e;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  color: black;
  gap: 16px;
  margin: 30px 0;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  position: relative;
  border-radius: 12px;
  background-color: #fff;
  padding: 16px;
  gap: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px rgba(57, 175, 171, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(57, 175, 171, 1);
  }
  100% {
    box-shadow: 0 0 10px rgba(57, 175, 171, 0.5);
  }
}

.conteudo {
  flex: 1;
  width: 235px;
}

.imagem {
  width: 100%;
}

.imagem img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.data {
  border-radius: 4px;
  padding: 4px 8px;
  background-color: #19536e;
  align-self: center; 
  width: fit-content;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.data p {
  font-weight: 600;
  margin: 0;
  color: #fff;
  text-align: center; 
}

.titulo {
  max-width: 100%;
  font-weight: 600;
  margin: 0;
  font-size: 24px;
  color: #013b47;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.endereco_div {
  display: flex;
  gap: 8px;
}

.endereco {
  font-weight: 600;
  margin-right: 4px;
}

.endereco_div p {
  margin: 0;
}

.button_adicionar {
  border-radius: 12px;
  background-color: #39afab;
  color: #fff;
  padding: 16px 24px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button_adicionar:hover {
  background-color: #31a3a6;
  transform: scale(1.05);
}

.button_adicionar i {
  font-size: 24px;
}
.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.button_editar,
.button_excluir {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.button_editar {
  background-color: #39afab;
  color: #fff;
}

.button_editar:hover {
  background-color: #31a3a6;
  transform: scale(1.05);
}

.button_editar i {
  font-size: 18px;
}

.button_excluir {
  background-color: #013b47;
  color: #fff;
}

.button_excluir:hover {
  background-color: #012b36;
  transform: scale(1.05);
}

.button_excluir i {
  font-size: 18px;
}

/*MODAL*/
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2); 
  border-radius: 12px;
  padding: 40px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.modal h2 {
  color: #19536e;
  font-size: 2em;
  margin: 20px 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form Input {
  background-color: #eee;
  color: #333;
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #bbb;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%; 
}

.form Input:focus {
  border-color: #19536e;
  box-shadow: 0 0 8px rgba(25, 83, 110, 0.25);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #19536e;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  background-color: #19536e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

input[type="file"]::file-selector-button:hover {
  background-color: #173f5f;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  padding: 0;
}

.closeButton:hover {
  color: #19536e;
}

.botoes {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.botoes button {
  background-color: #19536e;
  color: #fff;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  width: 48%;
}

.botoes button:hover {
  background-color: #173f5f;
}

.botoes button:nth-child(1) {
  background-color: #6c757d;
  color: #fff;
}

.botoes button:nth-child(1):hover {
  background-color: #5a6268;
}

.botoes button:nth-child(2) {
  background-color: #28a745;
  color: #fff;
}

.botoes button:nth-child(2):hover {
  background-color: #218838;
}

@media (max-width: 600px) {
  .formWrapper {
    padding: 20px;
  }

  .button_adicionar {
    width: 100%;
    font-size: 14px;
    padding: 8px 16px;
  }

  .botoes button {
    font-size: 14px;
    padding: 10px;
  }
}
